
/* Your CSS Code here. */


.holder div:nth-child(1){
    background-color: green;
}

.holder div:nth-child(2) {
    background-color: red;
}

.holder div:nth-child(3) {
    background-color:blue;
}
.holder { 
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.holder > div {
  width: 80px;
  height:80px;
  font-size: 30px;
}
